version: '3.0'

services:
  service-discovery:
    build:
      context: ./service-discovery
    container_name: service-discovery
    ports:
     - "8080:8080"
    volumes:
     - ./service-discovery:/app
     - ~/.m2:/root/.m2
    networks:
     - app-network
  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    ports:
     - "8084:8084"
    volumes:
     - ./auth-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    environment:
     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8080/eureka/
    networks:
     - app-network
  gateway-service:
    build:
      context: ./gateway-service
    container_name: gateway-service
    ports:
     - "8083:8083"
    volumes:
     - ./gateway-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    environment:
     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8080/eureka/
    networks:
     - app-network
  product-service:
    build:
      context: ./product-service
    container_name: product-service
    ports:
     - "8085:8085"
    volumes:
     - ./product-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    environment:
     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8080/eureka/
    networks:
     - app-network

  order-service:
    build:
      context: ./order-service
    container_name: order-service
    ports:
     - "8086:8086"
    volumes:
     - ./order-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    environment:
     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8080/eureka/
    networks:
     - app-network

  cart-service:
    build:
      context: ./cart-service
    container_name: cart-service
    ports:
     - "8087:8087"
    volumes:
     - ./cart-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    environment:
     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-discovery:8080/eureka/
    networks:
     - app-network

  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge